################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SemanticModel/NYC_CrashModel/database.thorn.tmuo
*.sqlite
